.App {
  text-align: center;
}
.heading{
  font-size: 100px;
}
button{
  background-color: green;
  width: 200px;
  height: 40px;
  margin: 20px;
  font-size: 20px;
  color: #fff;
  border-radius: 20px;

}
button:nth-child(3){
  background-color: orange;
}

button:nth-child(4){
  background-color: red;
}
